<div>
<header>
        <a class="A" style="margin-left:100px" [routerLink]="['/product']"   href>Product</a>
   
        <a   class="A" style="margin-left:100px" [routerLink]="['/welcome']"   href>Welcome</a>
   
          <a  class="A" style="margin-left:100px" [routerLink]="['/listall']"   href>ListAll</a>
      
            <a  class="A" style="margin-left:100px" [routerLink]="['/update']"   href>Update</a>

            <a  class="A" style="margin-left:100px" [routerLink]="['/Delete']"   href>Delete</a>
    
</header>
<section>
    <router-outlet></router-outlet>
  </section>
  
</div>
